.nav-bar{
    position: fixed;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    background-color: white;
}


.nav-bar_firstpart{
    display: flex;
    justify-content: flex-start;
    margin-right: 1rem;
}

.nav-bar_firstpart .logo{
    height: 3rem;
    width: 3rem;
    /* margin: 0.5rem; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.nav-bar_firstpart .logo img{
    height: 1.7rem;
}

.nav-bar_firstpart .logo:hover{
    background-color: #e5e5e5;
}

.nav-bar_firstpart .logo > img:hover{
    background-color: #e5e5e5;
}

.nav-bar_firstpart button {
    width: 4.7rem;
    height: 3rem;
    border-radius: 1.8rem;
    margin: 0 0.2rem;
    font-weight: 600;
    /* border: 1px solid black; */
}

.button_selected{
    background-color: black;
    color: white;
}

/* Search part of the design*/

.search{
    width: 67%;
    height: 3rem;
    border-radius: 25px;
    overflow: hidden;
    background: #e3e3e3;;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search:hover {
    background: #d5d5d5;
}

.search i {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #767676;
}

.search input{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding-right: 1.2rem;
}

.search input::placeholder {
    color: #767676;
    font-size: 1rem;
  }

.addPadding{
    padding-left: 1.2rem;
}

.addBorderHighlight{
    border: 4px solid #9bc7fa
}

.nav-bar_secondpart{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 1rem;
}


.nav-bar_secondpart .avatar{
    height: 3rem;
    width: 3rem;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.nav-bar_secondpart .avatar .img{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    font-size: 0.7rem;
    background-color: #e5e5e5;
}

.nav-bar_secondpart .avatar:hover{
    background-color: #e5e5e5;
}

.nav-bar_secondpart .items{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid black; */
}

.items i{
    position: relative;
    font-size: 1.5rem;
    color: #5b5b5b;
}

.items .notification{
    position: absolute;
    height: 1.2rem;
    width: 1.2rem ;
    top: -7px;
    right: -8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid black; */
    background-color: #e60022;;
}

.items .notification p{
    font-size: 15px;
}

.items:hover{
    background: #e5e5e5;;
}

.drop-down{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 50%;
    padding-top: 0.2rem ;
}

.drop-down i{
    color: #5b5b5b;
}

.drop-down:hover{
    background: #e5e5e5;
}

